<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!--t-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,400italic,300italic,300|Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="{% static  "assets/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static  "assets/css/video-react.css" %}" />
   <title>Waktu Sholat</title>
 </head>
 <body style="bac">
     <div id="root"></div>
     <script>
       var assetUrl = "{% static "assets/" %}"
     </script>
    <script src="{% static  "build/prayer.vendor.js" %}"></script>
    <script src="{% static  "build/prayer.app.js" %}"></script>
 </body>
</html>
